/* tipo de fuente */
@font-face {
font-family: "space";
src: url("A-Space\ Bold\ Demo.otf");
}
body {
  font-family: "space";
  background-image: url("./img/fondo1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
}
header{
text-align: center;
margin-top:3vh;
width:100%
}
/*Bienvenido*/
h2 {
text-align: center;
color: white;
margin-top: 4vh;
width: 100%;
font-size: xx-large;
font-family: space;
text-shadow: 1px 1px 3px rgb(255, 255, 255),1px 1px 20px rgb(255, 255, 255);
}

/* mensajes de error cuando rellenamos el Signin incorrecto */
#error{
  display:none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20%;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  color:white;
  background-color: rgba(255, 0, 0, 0.274);
  border-radius: 10px;
  border:solid;
  border-color: red;
  border-width: 1px;
}
/*contiene   */
.row{
  width:100vw;
  display: flex;
  flex-wrap: wrap;
}
/* la pagina esta dividida en 3 columnas izq mid y der */
.izq{
  width: 30%;
}
.mid{
  width:40%;
}
/* formulario central */
.form{
width:90%;
height: 100vh;
margin-top: 6%;
margin-left: 5%;
margin-right: 5%;
padding-top: 5%;
text-align: center;
border:solid; 
border-width: 1px;
border-radius: 10px;
border-color: white;
background-color: rgba(0, 0, 0, 0.600);
box-shadow: 0 0 1em rgba(175, 175, 175, 0.753);
}
/* formulario de la derecha, el login */
.logeo {
color: whitesmoke;
background-color: transparent;
width: 30%;
text-align: center;

}
.logeo form{
  background-color: rgba(0, 0, 0, 0.600);
  box-shadow: 0 0 1em rgba(175, 175, 175, 0.753);
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  width:60%;
  margin-left:30%;
  margin-top:5vh;
  height: 32vh;
}
/* todos los placeholder de la pagina */
::placeholder{ 
  color: rgba(255, 255, 255, 0.459);
}
/* estilo de los inputs del formulario */
.hueco{
margin-top: 2%;
padding-inline: 20px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
font-size: larger;
color: whitesmoke;
background-color: rgba(48, 52, 61, 0.548);
border-radius: 6px 6px 1px 1px;
border-color: white;
border-width: 1px;
border-top: none;
border-left:none;
border-right:none;
}
/* estilo especial de los dos ultimos inputs del formulario(son passwords) */
.ojo{
margin-top: 2%;
width: 42%;
height: 45px;
padding-top: 5px;
margin-left: 29%;
margin-right: 29%;
text-align: center;
font-size: larger;
color: whitesmoke;
background-color: rgba(48, 52, 61, 0.548);
border-radius: 6px 6px 1px 1px;
border-color: white;
border-width: 1px;
border-top: none;
border-left:none;
border-right:none;
}
/* estilo input primera contraseña */
#Contrasena{
background-color: transparent;
width: 60%;
margin-left: 5%;
margin-right: 5%;
text-align: center;
font-size: larger;
color: whitesmoke;
border:none;
border-radius:6px 6px 6px 6px;
padding-top: 5px;
padding-bottom: 5px;
outline:none;
}
/* estilo input segunda contraseña */
#Contrasena2{
background-color: transparent;
width: 60%;
margin-left: 5%;
margin-right: 5%;
text-align: center;
font-size: larger;
color: whitesmoke;
border:none;
border-radius:6px 6px 6px 6px;
padding-top: 5px;
padding-bottom: 5px;
outline:none;
}
/* pregunta entre formulario y las checkbox */
#pregunta{
color:white;
margin-top: 40px;
font-size: large;
}
/* estilo de los botones checkbox debajo del formulario */
.botones{
margin-top: 3.5vh;
height: 10%;
width:100%; 
}
/* contiene los botones checkbox y el nombre de debajo */
table {
width: 70%;
margin-left:15%;
margin-right:15%;
margin-top: 60px;
color:white; 
}
th{
height: 50px;
}
td{
width: 25%;
}
small{
  color:white;
}
/* estilo de los botones checkbox debajo del formulario */
.boton{
display: inline-flex;
flex-wrap: wrap;
cursor: pointer;
}
/* boton checkbox original  */
.boton input{
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}
/* nuevo boton checkbox customizado */
.checkmark {
top: 0;
left: 0;
height: 50px;
width: 50px;
border-radius: 5px;
}
/* icono de dentoro de las checkbox */
.checkmark i{
font-size: larger;
margin-top: 30%;
}
.checkmark:hover{
margin-top: -30%;
transition: 0.2s;
}
/* estilo de cada checkbox */
#checkmarkPS {
background-color: rgba(49, 86, 173, 0.596);
}
#checkmarkXBOX {
background-color: rgba(45, 194, 40, 0.473);
}
#checkmarkPC {
background-color: rgba(44, 44, 44, 0.575);
}
#checkmarkNintendo {
background-color: rgba(255, 59, 59, 0.404);
}
/* animaciones hover de los checkbox */
#checkmarkPS:hover {
background-color: rgba(34, 81, 189, 0.705);
box-shadow: 0 0 1.5em rgba(34, 81, 189, 0.705);
}
#checkmarkXBOX:hover {
background-color: rgba(49, 221, 43, 0.678);
box-shadow: 0 0 1.5em rgba(49, 221, 43, 0.678);
}
#checkmarkPC:hover {
background-color: rgba(44, 44, 44, 0.658);
box-shadow: 0 0 1.5em rgba(175, 175, 175, 0.753);
}
#checkmarkNintendo:hover {
background-color: rgba(255, 40, 40, 0.521);
box-shadow: 0 0 1.5em rgba(255, 40, 40, 0.521);
}
/* animacion de los botones cuando estan checked */
.boton input:checked ~ #checkmarkPS{
margin-top: -30%;
background-color: rgba(0, 76, 255, 0.849);
box-shadow: 0 0 1em rgba(0, 76, 255, 0.877);
}
.boton input:checked ~ #checkmarkPC{
margin-top: -30%;
background-color: rgba(44, 44, 44, 0.884);
box-shadow: 0 0 1em rgba(255, 255, 255, 0.87);
}
.boton input:checked ~ #checkmarkXBOX{
margin-top: -30%;
background-color: rgba(45, 231, 39, 0.87);
box-shadow: 0 0 1em rgba(36, 233, 30, 0.836);
}
.boton input:checked ~ #checkmarkNintendo{
margin-top: -30%;
background-color: rgba(255, 40, 40, 0.76);
box-shadow: 0 0 1em rgba(255, 40, 40, 0.774);
}
/* contenedor terminos y condiciones y boton de crear cuenta */
.condiciones{
margin-top: 4vh;
}
#crearcuenta{
margin-top: 20px;

}
/* boton del Sign in formulario crear cuenta */
.crear button{
cursor: pointer;
}
/* estilo del titulo del aside */
.login {
font-size: larger;
color: whitesmoke;
text-align: center;
margin-top: 10%;
margin-bottom: 10%;
}
/* estilo de los inputs del login de la derecha */
.caja {
width: 60%;
margin-left: 20%;
margin-right: 20%;
text-align: center;
font-size: larger;
color: whitesmoke;
border:none;
border-radius:6px 6px 6px 6px;
background-color: rgba(245, 245, 245, 0.158);
padding-top: 5px;
padding-bottom: 5px;
outline:none;
}
/* input usuario del login */
#usuario{
  height: 30px;
}
/* input password del login */
#password{
width: 60%;
margin-left: 10px;
margin-right: 0;
text-align: center;
background-color: transparent;
font-size: large;
border: none;
padding-top: 5px;
padding-bottom: 5px;
}
/* icono de ojo dentro del input del login */
#icon{
    margin-right: -10px;
  }
/* estilo de los botones del login */
.btnsoptions {
text-shadow: none;
text-align: center;
font-family: space;
color: rgb(255, 255, 255);
background-color: rgba(129, 129, 129, 0.329);
border: outset;
border-width: 1px;
border-radius: 12px;
transition: 0.2s;
padding-inline: 10px;
padding-bottom: 15px;
padding-top: 15px;
width: 40%;
margin-inline: 25%;
margin-top: 10%;
cursor: pointer;
}
.btnsoptions:hover {
background-color: rgba(255, 255, 255, 0.733);
color: black;
box-shadow: 0 0 1.5em rgba(255, 255, 255, 0.712);
}
a:link {
color: rgb(0, 149, 175);
background-color: transparent;
text-decoration: none;
}
a:visited {
color: #8f00ac;
}

/*estilo del footer*/
footer {
flex: wrap;
width:100%;
height: 30vh;
margin-top: 1vh;
}
footer ul{
margin-top: 15%;
text-align:center;
padding-top: 3%;
}
footer ul li {
/*estilo lista del footer*/
color: black;
display: inline;
width:20%;
padding-inline: 2%;
}
/* estilo de contenedor dentro del footer */
.pie{
font-family: "space";
text-shadow: 1px 1px 2px  rgb(255, 255, 255);
width:100%;
height: 10vh;
margin-bottom: -10px;
background-color: transparent;
background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.527), transparent);
}
@media screen and (max-width: 1342px) {

.consolas{
width: 50%;
margin-left: 10%;
text-align: center;

}
.inicio{
margin-left: -50%;
width: 0%;
border: none;
}
.buttonstyle{
text-align: center;
width: 100%;
}
article{
width: 80%;
}
aside{
width: 50%;
margin-left: 15%;
margin-right: 15%;
}
.botones{
margin-top: 3.5vh;
height: 10%;
}
table {
width: 50%;
margin-inline: 25%;
}
th{
height: 50px;
}
td{
width: 10%;
}
}