{% extends './layout.html' %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="error" style="width: 80%;margin-left: 10%;padding-top: 10%; padding-bottom: 16%;">
        <p style="margin-top: 20px; color: white;"><b>Lo sentimos, no pudimos encontrar lo que buscas</b></p><h2 style="color: white;">:(</h2><br>
        <img src="/static/content/lost-kermit.gif">
        <br><br>
        <h2 style="color: white;">Error 404</h2>
        <p style="color: white;">Not found</p>
    </div>
    <div class="socials" style="padding-bottom: 5%; ">
        <footer>
            <button class="redes" id="github" onclick="window.open('https://github.com/KermitPurple96/minihack','_blank')">
                <i class="bi bi-github" style="font-size: larger;"></i>
            </button>
            <button class="redes" id="hackthebox">
                <i class="bi bi-box" style="font-size: larger;"></i>
            </button>
            <button class="redes" id="youtube">
                <i class="bi bi-youtube" style="font-size: larger;"></i>
            </button>
            <button class="redes" id="instagram">
                <i class="bi bi-instagram" style="font-size: larger;"></i>
            </button>
            <button class="redes" id="twitter">
                <i class="bi bi-twitter" style="font-size: larger;"></i>
            </button>
    
        </footer>
    </div>
    
{% endblock %}

