{% extends './layout.html' %}
{% block title %}{% endblock %}

{% block body %}
<div class="sidebar">
    
    <a href="#home" id="home" style="background-color: #a3a3a3;">All</a>
    <!-- <a href="#variables" id="variables">Variables</a>
    <a href="#contact" id="contact">Contact</a>
    <a href="#about" id="about">About</a> -->
    
</div>

<div class="content" style="width: 80%;margin-left: 15%;padding-top: 8%; padding-bottom: 16%;">
    
    <!-- <form>
        <input type="text" id="buscar" placeholder="Buscar..." />
    </form> -->
    <h2 style="width: 100%; text-align: center; color: #0bd88d; margin-bottom: 2%;font-size:4em;">{{ data.titulo }}</h2>
    <!-- <div class="comando" id="homecontent">
        <h2 style="color: white;" class="text">Home content</h2>
        <p class="text">This example use media queries to transform</p>
        <p class="text">We have also added a media query</p>
    </div> -->
</div>
<div class="socials" style="padding-bottom: 5%; background-color: #333; width: 80%; margin-left: 15%; position: absolute; bottom: 0;">
    <footer>
        <button class="redes" id="github">
            <i class="bi bi-github" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="hackthebox">
            <i class="bi bi-box" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="youtube">
            <i class="bi bi-youtube" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="instagram">
            <i class="bi bi-instagram" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="twitter">
            <i class="bi bi-twitter" style="font-size: larger;"></i>
        </button>

    </footer>
</div>
{% endblock %}