{% extends './layout.html' %}
{% block title %}{% endblock %}

{% block body %}
<!-- onload="showall()" -->
<div class="sidebar">
    
    <a href="#home" id="home" style="background-color: #a3a3a3;">All</a>
    <!-- <a href="#variables" id="variables">Variables</a>
    <a href="#contact" id="contact">Contact</a>
    <a href="#about" id="about">About</a> -->
    
</div>

<div class="content" style="width: 80%;margin-left: 15%;padding-top: 8%; padding-bottom: 16%;">
    
    <!-- <form>
        <input type="text" id="buscar" placeholder="Buscar..." />
    </form> -->
    <h2 style="width: 100%; text-align: center; color: #0bd88d;margin-bottom: 2%;font-size:4em;">{{ data.titulo }}</h2>
    <!-- <div class="comando" id="homecontent">
        <h2 style="color: white;" class="text">Home content</h2>
        <p class="text">This example use media queries to transform</p>
        <p class="text">We have also added a media query</p>
    </div> -->

    <!-- <div class="tituloxd">
        <h2 style="color: white;" class="text">Variables de entorno</h2>
        <p class="text">hola</p>
    </div> -->
    <script>
        // peticion XML
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "static/xml/comandos.xml", true);
        xhttp.send();

        xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {

            console.log(this.responseXML);
            let comandos = this.responseXML.getElementsByTagName('comandos')[0].getElementsByTagName('comando');
            // var len = this.responseXML.getElementsByTagName( "comando" ).length
            // console.log(len);
            console.log(comandos)
        

            for (i = 0; i < comandos.length; i++) {

                var comando = comandos[i];
                var title = comando.getAttribute('nombre');
                console.log(comando)
                
                console.log(title)
                console.log(comando)

                let sidebar = document.getElementsByClassName('sidebar');
                console.log(sidebar);

                let nav = document.createElement('a');
                let barname = comando.getAttribute('nombre');
                nav.setAttribute('href', '#' + barname);
                nav.setAttribute('id', barname);
                nav.setAttribute('class', 'barcom');
                console.log(nav);

                sidebar[0].appendChild(nav);
                document.getElementById(barname).innerHTML += barname;

                let content = document.getElementsByClassName('content');

                let nuevoComando = document.createElement('div');
                nuevoComando.setAttribute('id', title);
                nuevoComando.setAttribute('class', 'com_div');
                nuevoComando.setAttribute('style', "width: 60%; margin-left: 20%; margin-top: 5%;");


                let titulo = document.createElement('h2');
                titulo.setAttribute('id', title);
                titulo.setAttribute('class', 'coman');
                titulo.setAttribute('style', "color: yellow; margin-bottom: 20px;");

                let functions = document.createElement('div');
                functions.setAttribute('class', 'functions');
                functions.setAttribute('style', "background-color: #4e4c4c; padding: 10px;border-radius:5px;");

                titulo.innerHTML += title;
                console.log(titulo)


                // console.log(content[0])

                nuevoComando.appendChild(titulo);
                nuevoComando.appendChild(functions);
                content[0].appendChild(nuevoComando);

                let funciones = comando.getElementsByTagName('funcion')
                
                console.log(funciones)

                for (j = 0; j < funciones.length; j++) {

                    var funj = 'fun' + j;
                    
                    
                    console.log(funciones.length)
                    console.log(j)
                    let funcion = funciones[j];
                    console.log(funcion)

                    // let params = comando.childNodes[3];
                    
                    let test = funcion.getAttribute('nombre');
                    console.log(test);
                    console.log("aqui");

                    if (test == "param") {
                        let funct = document.createElement('p');
                        funct.setAttribute('id', funj);
                        funct.setAttribute('style', "color: lime; margin-bottom: 5px;");
                        funct.innerHTML += funcion.textContent;
                        functions.appendChild(funct);
                    } 
                    else if (test == "img") {
                        let funct = document.createElement('img');
                        funct.setAttribute('id', funj);
                        src = funcion.textContent;
                        width = funcion.getAttribute('width')
                        height = funcion.getAttribute('height')

                        funct.setAttribute('src', src);
                        funct.setAttribute('style', "border-radius:5px;");
                        funct.style.width = width;
                        funct.style.height = height;
                        functions.appendChild(funct);
                    } 
                    else if (test == "jump") {
                        let funct = document.createElement('div');
                        funct.setAttribute('id', funj);
                        height = funcion.getAttribute('height')
                        funct.style.height = height;
                        functions.appendChild(funct);
                    }
                    else if (test == "line") {
                        let funct = document.createElement('hr');
                        funct.setAttribute('id', funj);
                        functions.appendChild(funct);
                    }
                    else if (test == "table") {

                        let table = document.createElement('table');
                        table.setAttribute('style', "color: white;");
                        let rows = funcion.getElementsByTagName('tr');
                        console.log("aqui");
                        console.log(rows[0]);

                        for (r = 0; r < rows.length; r++) {
                            row = rows[r]
                            
                            let fila = document.createElement('tr');
                            let cols = row.getElementsByTagName('td');
                            console.log(cols)
                            for (c = 0; c < cols.length; c++) {
                                col = cols[c]
                                let columna = document.createElement('td');
                                columna.setAttribute('style', "text-align:center;");
                                columna.innerHTML += col.textContent
                                fila.appendChild(columna)
                            }
                            table.appendChild(fila);
                            functions.appendChild(table);

                        }
                    } 
                    else {
                        let funct = document.createElement('p');
                        funct.setAttribute('id', funj);
                        funct.setAttribute('style', "color: white; margin-bottom: 5px;");
                        funct.innerHTML += funcion.textContent;
                        functions.appendChild(funct);

                    }

                    // console.log("aqui")
                    // console.log(funct)
                    // console.log(funcion.textContent);
                    
                    
                    console.log(content[0])
                };


            };


            
        };

        // function ocultarDiv(target){
        // console.log("ole")
        // var hide = document.getElementById(target);
        // let bars = document.getElementsByClassName("com_div");
        //     for(let i = 0; i < bars.length; i++){
        //         if(elements[i].id.includes(hide)){
        //             elements[i].style.display = "block"
        //         }
        //         else{
        //             elements[i].style.display = "none"
        //         }
        //     }
        // }
    
        // let elementos = document.getElementsByClassName("barcom");
        // console.log("aasass")

        // for (k = 0; k < elementos.length; k++) {
        //     elemento = elementos[k]
        //     console.log(elemento)
        //     let target = elemento.getAttribute('id');
        //     elemento.addEventListener('click', function ocultarDiv(target){});
        // };


        // document.getElementById('buscar').addEventListener('keyup', buscar);

        // function buscar(){
    
        //     let elements = document.getElementsByClassName("coman");
        //     for(let i = 0; i < elements.length; i++){
        //             elements[i].style.display = "block"
        //     }

        //     let busqueda = document.getElementById('buscar').value.toLowerCase();
        //     let divs = document.getElementsByClassName("comdiv");
        //     console.log(divs);
        //     var divlen = document.getElementsByClassName("comdiv").length
        //     console.log(divlen);

        //     for(let i = 0; i < elements.length; i++){
        //         if(!divs[i].innerText.toLowerCase().includes(busqueda)){
        //             divs[i].style.display = 'none';
        //         }
        //         else{
        //             divs[i].style.display = 'block';
        //         }
        //     }

        // }

        // for (i = 1; i < (2 * len); i = i + 2) {

        //     let comando = comandos.childNodes[i];
        //     let name = comando.getAttribute('nombre');
        //     document.getElementById(name).addEventListener('click', ls);
        // };

        document.getElementById('home').addEventListener('click', home);
        function home(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                
                elements[i].style.display = "block"
                
            }

        }

        document.getElementById('ls').addEventListener('click', ls);
        function ls(){
     
            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("ls")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }
        
        }

        document.getElementById('cd').addEventListener('click', cd);
        function cd(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("cd")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }

        document.getElementById('mkdir').addEventListener('click', mkdir);
        function mkdir(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("mkdir")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }


        document.getElementById('rm').addEventListener('click', rm);
        function rm(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("rm")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }

        document.getElementById('mv').addEventListener('click', mv);
        function mv(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("mv")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }

        document.getElementById('cp').addEventListener('click', cp);
        function cp(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("cp")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }
        document.getElementById('base64').addEventListener('click', base64);
        function base64(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("base64")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }
        document.getElementById('xxd').addEventListener('click', xxd);
        function xxd(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("xxd")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }
        document.getElementById('find').addEventListener('click', find);
        function find(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("find")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }
        document.getElementById('7z').addEventListener('click', zeta);
        function zeta(){

            let elements = document.getElementsByClassName("com_div");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("7z")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }

    };

    

    </script>
</div>
<div class="socials" style="padding-bottom: 5%; background-color: #333; width: 80%; margin-left: 15%; position: absolute; bottom: 0;">
    <footer>
        <button class="redes" id="github" onclick="window.open('https://github.com/KermitPurple96/minihack','_blank')">
            <i class="bi bi-github" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="hackthebox">
            <i class="bi bi-box" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="youtube">
            <i class="bi bi-youtube" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="instagram">
            <i class="bi bi-instagram" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="twitter">
            <i class="bi bi-twitter" style="font-size: larger;"></i>
        </button>

    </footer>
</div>
<!-- <script src="/static/js/comandos.js"></script> -->
{% endblock %}