{% extends './layout.html' %}
{% block title %}{% endblock %}

{% block body %}
<!-- onload="showall()" -->
<div class="sidebar" onload="showall()">
    
    <a href="#home" id="home" style="background-color: #a3a3a3;">All</a>
    <!-- <a href="#variables" id="variables">Variables</a>
    <a href="#contact" id="contact">Contact</a>
    <a href="#about" id="about">About</a> -->
    
</div>

<div class="content">
    
    <!-- <form>
        <input type="text" id="buscar" placeholder="Buscar..." />
    </form> -->
    <h2 style="width: 100%; text-align: center; color: #1af025; margin-top: 2%;margin-bottom: 2%;">{{ data.titulo }}</h2>
    <!-- <div class="comando" id="homecontent">
        <h2 style="color: white;" class="text">Home content</h2>
        <p class="text">This example use media queries to transform</p>
        <p class="text">We have also added a media query</p>
    </div> -->

    <!-- <div class="tituloxd">
        <h2 style="color: white;" class="text">Variables de entorno</h2>
        <p class="text">hola</p>
    </div> -->
    <script>
        // peticion XML
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "static/xml/comandos.xml", true);
        xhttp.send();

        xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {

            console.log(this.responseXML);
            let comandos = this.responseXML.getElementsByTagName('comandos')[0];
            var len = this.responseXML.getElementsByTagName( "comando" ).length
            // console.log(len);
            


            var miscomandos = [];

            for (i = 1; i < (2 * len); i = i + 2) {

                var com = 'com' + i;
                var title = 'title' + i;
                var fun = 'fun' + i;


                miscomandos.push(com);


                let comando = comandos.childNodes[i];
                let funcion = comando.childNodes[1];

                // let params = comando.childNodes[3];
                console.log(comando.nombre);
                console.log(funcion.textContent);
                // console.log(param);
                // referencia al <div> mid donde meteremos todo el nuevo contenido
                let content = document.getElementsByClassName('content');
                // creamos una card nueva y le ponemos atributos
                let nuevoComando = document.createElement('div');
                nuevoComando.setAttribute('id', com);
                nuevoComando.setAttribute('class', 'comdiv');
                // cardNueva.setAttribute('style', "width:30%;margin-inline:1.6%;margin-top:20px");
                // creamos el relleno de la card y le damos atributos
                let titulo = document.createElement('h2');
                titulo.setAttribute('id', title);
                titulo.setAttribute('class', 'coman');
                titulo.setAttribute('style', "color: white;");

                let funct = document.createElement('p');
                funct.setAttribute('id', fun);
                funct.setAttribute('style', "color: white;");

                // console.log(content[0])
                content[0].appendChild(nuevoComando);
                nuevoComando.appendChild(titulo);
                nuevoComando.appendChild(funct);

                let sidebar = document.getElementsByClassName('sidebar');
                console.log(sidebar);

                let nav = document.createElement('a');
                let barname = comando.getAttribute('nombre');
                nav.setAttribute('href', '#' + barname);
                nav.setAttribute('id', barname);
                nav.setAttribute('class', 'barcom');
                console.log(nav);

                sidebar[0].appendChild(nav);
                document.getElementById(barname).innerHTML += barname;
                
                // cardNueva.appendChild(cardBody);
                // cardBody.appendChild(titulo);
                // cardBody.appendChild(codigo);
                // cardBody.appendChild(contenido);
                // asignamos a titulo codigo y contenido la informacion extraida del XML

                document.getElementById(title).innerHTML += comando.getAttribute('nombre');
                document.getElementById(fun).innerHTML += funcion.textContent;
                console.log(content[0])

            };
            
        };

        // document.getElementById('buscar').addEventListener('keyup', buscar);

        // function buscar(){
    
        //     let elements = document.getElementsByClassName("coman");
        //     for(let i = 0; i < elements.length; i++){
        //             elements[i].style.display = "block"
        //     }

        //     let busqueda = document.getElementById('buscar').value.toLowerCase();
        //     let divs = document.getElementsByClassName("comdiv");
        //     console.log(divs);
        //     var divlen = document.getElementsByClassName("comdiv").length
        //     console.log(divlen);

        //     for(let i = 0; i < elements.length; i++){
        //         if(!divs[i].innerText.toLowerCase().includes(busqueda)){
        //             divs[i].style.display = 'none';
        //         }
        //         else{
        //             divs[i].style.display = 'block';
        //         }
        //     }

        // }

        // for (i = 1; i < (2 * len); i = i + 2) {

        //     let comando = comandos.childNodes[i];
        //     let name = comando.getAttribute('nombre');
        //     document.getElementById(name).addEventListener('click', ls);
        // };


        document.getElementById('home').addEventListener('click', home);

        function home(){

            let elements = document.getElementsByClassName("comdiv");
            for(let i = 0; i < elements.length; i++){
                
                elements[i].style.display = "block"
                
            }

        }



        document.getElementById('ls').addEventListener('click', ls);

        function ls(){
     
            let elements = document.getElementsByClassName("comdiv");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("com1")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }
        
        }

        document.getElementById('cat').addEventListener('click', cat);

        function cat(){

            let elements = document.getElementsByClassName("comdiv");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("com3")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }


        document.getElementById('cd').addEventListener('click', cd);

        function cd(){

            let elements = document.getElementsByClassName("comdiv");
            for(let i = 0; i < elements.length; i++){
                if(elements[i].id.includes("com5")){
                    elements[i].style.display = "block"
                }
                else{
                    elements[i].style.display = "none"
                }
            }

        }
    };








    

    </script>
</div>

<!-- <script src="/static/js/comandos.js"></script> -->
{% endblock %}