{% extends './layout.html' %}
{% block title %}Home{% endblock %}

{% block body %}


<div class="content" style="width: 80%;margin-left: 10%;padding-top: 10%; padding-bottom: 20%;">
    
    <div class="cartashome">
        <div class="card" id="card1" style="background-color: #0bd88d;">
            <img src="/static/content/pc.png" class="card-img-top" style="height: 45%; width: 85%; margin-inline: auto; margin-top: 18%;margin-bottom: 2%;">
            <div class="card-body">
            <h5 class="card-title" style="text-align:center; margin-top: 5%;">Start Learning</h5>
            </div>
        </div>
        <div class="card" id="card2" style="background-color: orange;">
            <img src="/static/content/problem.png" class="card-img-top" style="height: 55%; width: 67%; margin-inline: auto; margin-top: 10%;">
            <div class="card-body">
            <h5 class="card-title" style="text-align:center; margin-top: 5%;">Challengues</h5>
            </div>
        </div>
    </div>
</div>

<div class="socials" style="padding-bottom: 5%; ">
    <footer>
        <button class="redes" id="github">
            <i class="bi bi-github" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="hackthebox">
            <i class="bi bi-box" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="youtube">
            <i class="bi bi-youtube" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="instagram">
            <i class="bi bi-instagram" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="twitter">
            <i class="bi bi-twitter" style="font-size: larger;"></i>
        </button>

    </footer>
</div>

{% endblock %}