{% extends './layout.html' %}
{% block title %}Home{% endblock %}

{% block body %}


<div class="content" style="width: 80%;margin-left: 15%;padding-top: 10%; padding-bottom: 16%;">
    
    <div class="cartashome">
        <div class="card" id="card1">
            <img src="/static/content/pc.png" class="card-img-top" style="height: 45%; width: 85%; margin-inline: auto; margin-top: 18%;margin-bottom: 2%;">
            <div class="card-body">
            <h5 class="card-title" style="text-align:center; margin-top: 5%;">Start Learning</h5>
            </div>
        </div>
        <div class="card" id="card2">
            <img src="/static/content/problem.png" class="card-img-top" style="height: 55%; width: 67%; margin-inline: auto; margin-top: 10%;">
            <div class="card-body">
            <h5 class="card-title" style="text-align:center; margin-top: 5%;">Challengues</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}