{% extends './layout.html' %}
{% block title %}Home{% endblock %}

{% block body %}




<div class="content" style="width: 80%;margin-left: 10%;padding-top: 8%; padding-bottom: 15%;">
    {% if message %}

    <div class="alert alert-success alert-dismissible fade show" style=" width:20%;margin:auto; " role="alert">
        <strong>Ok </strong>{{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
    
    <div class="cartashome" style="margin-top: 5%;">
        <div class="card" id="card1" style="background-color: #0bd88d; height: 90%;" onclick="window.location.href='{{ url_for('learning') }}';">
            <img src="/static/content/pc.png" class="card-img-top" style="height: 45%; width: 85%; margin-inline: auto; margin-top: 18%;margin-bottom: 2%;">
            <div class="card-body">
            <h5 class="card-title" style="text-align:center; margin-top: 5%;">Start Learning</h5>
            <p class="card-text" style="text-align: center;">Comienza a aprender de manera sencilla y visual con ejemplos cómo usar entornos Linux y Bash</p>
            </div>
        </div>
        <div class="card" id="card2" style="background-color: orange; height: 90%;" onclick="window.location.href='{{ url_for('challenges') }}';">
            <img src="/static/content/problem.png" class="card-img-top" style="height: 50%; width: 67%; margin-inline: auto; margin-top: 10%;">
            <div class="card-body">
            <h5 class="card-title" style="text-align:center; margin-top: 5%;">Challengues</h5>
            <p class="card-text" style="text-align: center;">Si te ves preparado para enfrentarte a retos en nuestros laboratorios... ¡Adelante!</p>
            </div>
        </div>
    </div>
</div>

<div class="socials" style="padding-bottom: 5%;">
    <footer>
        <button class="redes" id="github" onclick="window.open('https://github.com/KermitPurple96/minihack','_blank')">
            <i class="bi bi-github" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="hackthebox">
            <i class="bi bi-box" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="youtube">
            <i class="bi bi-youtube" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="instagram">
            <i class="bi bi-instagram" style="font-size: larger;"></i>
        </button>
        <button class="redes" id="twitter">
            <i class="bi bi-twitter" style="font-size: larger;"></i>
        </button>

    </footer>
</div>

{% endblock %}