{% extends './layout.html' %}
{% from 'bootstrap5/form.html' import render_field %}
{% block title %}Home{% endblock %}

{% block body %}
<!-- botones laterales izq   -->

<div class="content" style="width: 80%;margin-left: 10%;padding-top: 10%; padding-bottom: 20%;">
    <h2 style="width: 100%; text-align: center; color: #0bd88d;margin-bottom: 2%;font-size:4em;">Login</h2>

    <div style="background-color: #4e4c4c;padding: 20px;border-radius:5px; width: 25%; height: 50%; margin: auto; margin-top: 5%;">
        <form class="form-signin" style="width: 100%;" action="/login" method="POST">
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" style="color:white;">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@hotmail.com">
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="color:white;">Password</label>
            <input type="password" name="password" class="form-control" placeholder="example123$!">
            </div>
            <div style="margin-top: 30px;"></div>
            <button style="margin-left:30px;" type="submit" class="btn btn-primary">Submit</button>
            <a style="margin-left:40px;text-align:center; color: #0bd88d" href="/register">¿No tienes cuenta?</a>
        </form>
    </div>
    {% if message %}

    <div class="alert alert-danger alert-dismissible fade show" style=" width:20%;margin:auto;margin-top: 5%; " role="alert">
        <p style="margin: auto;">{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}

</div>

{% endblock %}