{% extends './layout.html' %}
{% from 'bootstrap5/form.html' import render_field %}
{% block title %}Home{% endblock %}

{% block body %}
<!-- botones laterales izq   -->

    <form method="post" class="login-dark">
        {{ form.csrf_token() }}
        {{ render_field(form.email, placeholder='email', id='emaillogin') }}
        {{ render_field(form.password, placeholder='password', id='passwordlogin') }}
        <div class="submitbutton">
            {{ render_field(form.submit) }}
            <small class="text-muted" id="text2"><br>
                Create account <a class="ml-2" href="{{ url_for('register') }}"> Register</a>
            </small>
        </div>

    </form>

{% endblock %}