<!DOCTYPE html>
<html>

<head>
    <!--HEAD-->
    <link rel="stylesheet" type="text/css" href="/static/Productos.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <!--titulo pestaña-->
    <meta charset="uft-8" />
    <meta name="author" content="Jaime" />
    <!--autores-->
    <meta name="description" content="Inicio" />
    <meta name="keywords" content="html, css, blog" />
    <meta name="applications-name" content="FlexApp" />
    <link href="iconos/css/all.css" rel="stylesheet" />
    <!--iconos de la web-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/content/kermitbit.ico" />
    <!--icono pestaña-->

</head>
<!--Body-->

<body>
    <!-- Header -->
    <!-- titulo -->
    <h1>Productos</h1>
    <div class="buscador">
        <form>
            <input type="text" id="buscar" placeholder="Buscar..." />
        </form>
    </div>
    <div class="botones">
        <table>
            <thead>
                <tr>
                    <th><label class="boton">
                            <input type="checkbox" checked="checked" />
                            <span class="checkmark" id="checkmarkPS"><i class="fab fa-playstation"></i></span>
                        </label>
                    </th>
                    <th><label class="boton">
                            <input type="checkbox" checked="checked" />
                            <span class="checkmark" id="checkmarkPC"><i class="fas fa-desktop"></i></span>
                        </label>
                    </th>
                    <th><label class="boton">
                            <input type="checkbox" checked="checked" />
                            <span class="checkmark" id="checkmarkXBOX"><i class="fab fa-xbox"></i></span>
                        </label>
                    </th>
                    <th><label class="boton">
                            <input type="checkbox" checked="checked" />
                            <span class="checkmark" id="checkmarkNintendo"><i class="fas fa-gamepad"></i></span>
                        </label></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Play<br>Station</td>
                    <td>PC</td>
                    <td>XBOX</td>
                    <td>Nintendo</td>
                </tr>
                </thead>
        </table>
    </div>
    <div class="productos">

        <div class="card" id="PS">
            <img class="image" src="img/mandops4azul.png">
            <div class="texto" id="play">
                <p>Mando PS4 azul<br>
                    Precio: 60$</p>
            </div>
        </div>
        <div class="card" id="XBOX">
            <img class="image" src="img/mandoxboxblanco.png">
            <div class="texto" id="cajax">
                <p>Mando XBOX blanco<br>
                    Precio: 60$</p>
            </div>
        </div>
        <div class="card" id="PS">
            <img class="image" src="img/mandops4gris.png">
            <div class="texto" id="play">
                <p>Mando PS4 gris<br>
                    Precio: 60$</p>
            </div>
        </div>
        <div class="card" id="XBOX">
            <img class="image" src="img/mandoxboxazul.png">
            <div class="texto" id="cajax">
                <p>Mando XBOX azul<br>
                    Precio: 60$</p>
            </div>
        </div>
        <div class="card" id="PS">
            <img class="image" src="img/mandops4naranja.png">
            <div class="texto" id="play">
                <p>Mando PS4 naranja<br>
                    Precio: 60$</p>
            </div>
        </div>
        <div class="card" id="XBOX">
            <img class="image" src="img/mandoxboxnegro.png">
            <div class="texto" id="cajax">
                <p>Mando XBOX negro<br>
                    Precio: 60$</p>
            </div>
        </div>
        <div class="card" id="PS">
            <img class="image" src="img/mandops5.png">
            <div class="texto" id="play">
                <p>Mando PS5<br>
                    Precio: 60$</p>
            </div>
        </div>

    </div>

</body>
<script src="Productos.js"></script>

</html>