{% extends "layout.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% block title %}Home{% endblock %}

{% block body %}
<form method="post" class="register-dark">
    {{ form.csrf_token() }}
    {{ render_field(form.username, placeholder='username') }}
    {{ render_field(form.email, placeholder='email') }}
    {{ render_field(form.password, placeholder='password') }}
    {{ render_field(form.confirm_password, placeholder='confirm password') }}
    <div class="submitbutton">
        {{ render_field(form.submit) }}
        <small class="text-muted" id="newaccount">
            have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign in</a>
        </small>
    </div>

</form>

{% endblock %}
        <!-- <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}

                        {% if form.username.errors %}
                            {{ form.usernamea(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.username.label(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email.label(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password.label(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {{ form.confirm_password.label(class="form-control form-control-lg") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div> 
    -->

