{% extends "layout.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% block title %}Home{% endblock %}

{% block body %}

<div class="content" style="width: 80%;margin-left: 10%;padding-top: 10%; padding-bottom: 20%;">
    <h2 style="width: 100%; text-align: center; color: #0bd88d;margin-bottom: 2%;font-size:4em;">Sign up</h2>
    <div style="background-color: #4e4c4c;padding: 20px;border-radius:5px; width: 30%; margin: auto; margin-top: 1%;">
        <form style="width: 100%;">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input name="username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="pass1" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm password</label>
                <input type="password" name="pass2" class="form-control" id="exampleInputPassword1">
            </div>
            <div style="margin-top: 30px;">
                <button style="margin-left:60px;" type="submit" class="btn btn-primary">Submit</button>
                <a style="margin-left:60px;text-align:center; color: #0bd88d" href="/login">¿No tienes cuenta?</a>
            </div>
        </form>
    </div>
</div>


{% endblock %}
        <!-- <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}

                        {% if form.username.errors %}
                            {{ form.usernamea(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.username.label(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email.label(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password.label(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {{ form.confirm_password.label(class="form-control form-control-lg") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div> 
    -->

